body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}
section{
    display: flex;
}
.banner{
    background-image: url(./images/shapes/Frame\ 59.jpg);
}
.half-width{
    width: 50%;
}
#img{
    width: 300px;
    height: 350px;
    margin-left: 20px;
    padding: 20px;
}
.first-line{
    color: purple;
}
span{
    color: tomato;
}
.blue{
    color: blue;
}
.order{
    color: white;
    background-image: linear-gradient(purple,tomato);
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 40px;
    font-weight: 600;
    letter-spacing: 2px;
}
.middle{
    background-image: url(./images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
}
ul{
    list-style-image: linear-gradient(tomato,purple);
}
.center>h1{
    color: purple;
}